@charset "UTF-8";

#scrollNavbar {
	border: solid 0px gray;
	border-radius: 10px;
	height: 65px;
}



a {
	font-size:14pt;
	font-weight: bold;
	color: white;
}

.menufont_size:hover,
#collapsibleNavbar a:hover {
    border: solid 0px gray;
    color: white;
    background-color: rgba(0, 0, 0, 0.17);   
    border-radius: 10px;   
}

#scrollNavbar > a > img:hover {
	filter: brightness(150%);
}

div.dropdown-divider {
	color: black;
}
