@charset "UTF-8";
@charset "UTF-8";


.navbar{
	height: 80px;
}

.navbar-brand{
	color: white;
}

.fa-phoenix-framework:hover{
	color : red;
}

.menufont_size {
	font-size:14pt;
	font-weight: bold;
	color: white;
}

.menufont_size:hover {
    color : #007bff;
    background-color: rgba(0, 0, 0, 0.2);
}

.dropdown-menu{ 
	background-size: cover; 
	background-position: center 5%; 
	background-repeat: no-repeat;
}

.dropdown-item{
	font-size:12pt;
	font-weight: bold;
	color: #ccc;
}

.dropdown-item:hover{
	color : #007bff;
    background-color: rgba(0, 0, 0, 0.2);
}

.btn_text:hover {
    text-decoration: none;
}


body > section.mt-5 > div:nth-child(3) > div:nth-child(1) > img {
	background-image: url(../img/diablo4.jpg);
}

div#carouselExampleIndicators {
	margin: 7% auto;
}

.img-container {
    position: relative;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.img-container img {
    width: 100%;
}

.img-container ul {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateY(0);
    transition: transform 0.2s ease-in-out;
    padding: 10px;
}

body > section.mt-5 > div.mt-5 > div:nth-child(1) > div ,
#hover {
	border: solid 0px red
}
body > section.mt-5 > div.mt-5 > div:nth-child(1) > div:hover ,
#hover:hover {
	transform: scale(1.025); /* 확대 비율을 조절할 수 있습니다. */
	transition: transform 0.2s ease; /* 확대 애니메이션 지속 시간을 조절할 수 있습니다. */
}

.img-container:hover ul {
    transform: translateY(-10px);
}

#carouselExampleIndicators {
    margin: 0 auto; /* This centers the carousel horizontally on the screen */
    /* You can also set a max-width if you want to limit its width */
    max-width: 90%; /* Adjust this value to your desired maximum width */
  }
  
.img:hover {
	transform: scale(1.025); /* 확대 비율을 조절할 수 있습니다. */
	transition: transform 0.2s ease; /* 확대 애니메이션 지속 시간을 조절할 수 있습니다. */
}

div.img-container {
	height: 400px;
}
div.img-container {
	height: 400px;
}

div#main {
	width: 80%;
    margin: 0 auto;
    
}


/* 캐러셀 캡션 스타일 */
.carousel-caption {
    display: flex;
}

/* 캐로셀 캡션 내 버튼 스타일 */
.btn_text {
    /* 여기에 버튼 스타일을 추가하세요 */
    color: #fff;
    background-color: #007bff;
    border-radius: 50px;
    font-size: 14pt;
    font-weight: bold;
    padding: 10px 20px;
}






    


.btnBlue {
	
    width: auto;
	background-image:linear-gradient(180deg, #1888EF 0%, #009FE9 100%);
	border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 100px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    margin: 7% 0;
    white-space: normal;
    width: 19%;
    height: 70px;
    font-size: 15pt;
    font-weight: bold;
}

.btnGray {
	width: auto;
background-image: linear-gradient(180deg, rgba(93, 113, 152, 0.5) 0%, rgba(93, 113, 152, 0.5) 100%); /* #5D7198 색상으로 투명한 배경 이미지 */
border: 2px solid rgba(93, 113, 152, 0.5); /* #5D7198 색상으로 투명한 테두리 */
border-radius: 100px;
text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
box-sizing: border-box;
margin: 7% 0;
white-space: normal;
width: 19%;
height: 70px;
font-size: 15pt;
font-weight: bold;
}

