@charset "UTF-8";

label.prodInfo {
	border: solid 0px gray;
	display: inline-block; /* label 태그는 width 가 안먹으므로 디스플레이를 변경해주어야 한다.;*/
	width: 65px;
	margin-left: 5px;
}


table {
    border-collapse: collapse;
    width: 100%;
}

tr.img td {
    padding: 0;
    text-align: center;
    width: 100px;
    height: 75px;
    
}

tr.img td img {

    width: 50%;
    height: 100%;
}

tr.text-cor td {
	text-align:center;
	height: 25px;
	color: white;

}