@charset "UTF-8";

div#main {
	width: 80%;
    margin: 0 auto;
    
}


/* 캐러셀 캡션 스타일 */
.carousel-caption {
    display: flex;
}

/* 캐로셀 캡션 내 버튼 스타일 */
.btn_text {
    /* 여기에 버튼 스타일을 추가하세요 */
    color: #fff;
    background-color: #007bff;
    border-radius: 50px;
    font-size: 14pt;
    font-weight: bold;
    padding: 10px 20px;
}






    


.btnBlue {
	
    width: auto;
	background-image:linear-gradient(180deg, #1888EF 0%, #009FE9 100%);
	border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 100px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    margin: 7% 0;
    white-space: normal;
    width: 19%;
    height: 70px;
    font-size: 15pt;
    font-weight: bold;
}

.btnGray {
	width: auto;
background-image: linear-gradient(180deg, rgba(93, 113, 152, 0.5) 0%, rgba(93, 113, 152, 0.5) 100%); /* #5D7198 색상으로 투명한 배경 이미지 */
border: 2px solid rgba(93, 113, 152, 0.5); /* #5D7198 색상으로 투명한 테두리 */
border-radius: 100px;
text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
box-sizing: border-box;
margin: 7% 0;
white-space: normal;
width: 19%;
height: 70px;
font-size: 15pt;
font-weight: bold;
}
